.jumbotron
  %h2 Keep your household organized
  %p.lead Receipts, warranty, manuals all lying around? Need to know your coffee machine's model when you're at the mall to get the right replacement parts? Can't ever remember when your warranty ends? 
  %p HouseFoldr is here to help. Keep track of every item in your household and access them on-the-go.
  %p
    = link_to "Sign up today", register_path, class: 'btn btn-lg btn-success'