.jumbotron
  %h2 Finding the right therapist
  %p.lead can be a challenging task, especially given how little information there is on the Internet. With findatherapist, you can now peruse user reviews and ratings on therapists in Hong Kong and get closer to finding what's for you.
  %p
    %a.btn.btn-lg.btn-success{href: "#", role: "button"}Sign up today