$break-small: 320px;
$break-large: 1200px;

.jumbotron {
  height: 350px;
}
.tp {
  min-height: 300px;
  overflow: auto;
}
.title {
  padding-bottom: 20px;
}
.navbar {
  -moz-border-radius: 0;
  -webit-border-radius: 0;
  border-radius: 0;
}
.item-container {
  width: 500px;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
}

thead {
  font-weight: 500;
}

#search {
  padding-bottom: 30px;
}